<a href="https://colab.research.google.com/github/kushagrathisside/Kaggle-Competitions/blob/main/Titanic_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/train.csv')
df.shape

(891, 12)

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#cabin must be deleted as it has 687/891 values NULL.

In [ ]:
df = df.drop("Cabin", axis='columns')

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [ ]:
df.shape

(891, 11)

In [ ]:
#We can approach by two ways, 
#1. Remove rows with nan columns
#2. Treat them with mean
#Moving with 1

In [ ]:
df = df.dropna()
print(df.isnull().sum())
print('\nSHAPE:',df.shape)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

SHAPE: (712, 11)

In [ ]:
X=df.iloc[:,:]
X=X.drop('Survived', axis='columns')
X=X.drop('Name', axis='columns')
X=X.drop('Ticket', axis='columns')
Y=df.iloc[:,1]
df.head()

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         2
1            2         1       1  ...          PC 17599  71.2833         0
2            3         1       3  ...  STON/O2. 3101282   7.9250         2
3            4         1       1  ...            113803  53.1000         2
4            5         0       3  ...            373450   8.0500         2

[5 rows x 11 columns]

In [ ]:
forprocess = df.drop('Name', axis = 'columns')  #Name removed
forprocess = forprocess.drop('Ticket', axis = 'columns') #Ticket dropped
forprocess = forprocess.drop('PassengerId', axis = 'columns')

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
forprocess['Embarked']=le.fit_transform(df['Embarked'])

x=forprocess.iloc[:,1:]
y=forprocess.iloc[:,0].values
x

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         3    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         3    1  35.0      0      0   8.0500         2
..      ...  ...   ...    ...    ...      ...       ...
885       3    0  39.0      0      5  29.1250         1
886       2    1  27.0      0      0  13.0000         2
887       1    0  19.0      0      0  30.0000         2
889       1    1  26.0      0      0  30.0000         0
890       3    1  32.0      0      0   7.7500         1

[712 rows x 7 columns]

In [90]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state=1)

In [91]:
from sklearn.linear_model import LogisticRegression
Classifier = LogisticRegression(random_state=0)

In [92]:
Classifier.fit(x_train, y_train)
y_pred=Classifier.predict(x_test)
x_pred=Classifier.predict(x_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [93]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(x_pred,y_train)

0.8101933216168717